/* src/App.css */
body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: black; /* Set the background color to black */
    color: white; /* Set the text color to white */
    margin: 0;
    padding: 0;
  }
  
  h1{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 64px;
  
  }
  .count-class{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
  }
  .error-message{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 24px;
    text-decoration: none;
    color: #FF4F4F;
  }
  
  /* CSS for the Counter App title */

  
  /* CSS for the Count Text */
  p {
    font-weight: 700; /* Bold font weight */
    text-decoration: underline; /* Underline */
    margin-top: 10px;
  }
  
  .button-container {
    margin-top: 20px;
   
  }
  
  button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 24px;
    font-family:'Inter', sans-serif; 
    font-weight: 300;
    cursor: pointer;
    height: 56px; /* Button height */
    width: 226px;
  }
.go{
  color: #fff;
  background-color: black;
  border: 1px solid #fff;
}
  
  button:disabled {
    cursor: not-allowed;
  }
  .counter-container{
    margin-left: 20px;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .counter-container {
      max-width: 250px;
    }
  }
  